@font-face {
    font-family: custom;
    src: url('pixelmix.ttf');
}

@font-face {
    font-family: customsm;
    src: url('wendy.ttf');
}

#test {
	background-image: url('papabtn.png');
	width: 512px;
	height: 300px;
	border: none;
	background-color: #fff;
	background-position: top;
	cursor: pointer;
	margin: auto;
}

#chst {
	background-image: url('chestbig.png');
	width: 46px;
	height: 48px;
	cursor: not-allowed;
	background-repeat: no-repeat;
	margin-bottom: 8vh;
	margin-left: calc(50% - 80px);
}

#chsttxt {
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px 0px 2px #5377C2, 0px 0px 6px #37B6F1;
	font-family: customsm, sans-serif;
	cursor: help;
	position: relative;
	top: 12px;
	left: 64px;
}

#teub {
	min-height: 32px;
	margin-top: 5vh;
	color: #FFF;
	text-align: center;
}

#socia {
	position: absolute;
	left: calc(50% - 205px);
	top: 84vh;
	width: 400px;
}

ul {
	padding: 0px;
}

li {
	margin-right: 40px;
	margin-left: 40px;
	display: inline-block;
}

.cpy {
	top: -32px;
	display: block;
	position: relative;

}

.opa {
	display: block;
	background-size: cover;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 1s;
}

.opa:hover {
	opacity: 0.9;
}

#soc1 {
	background-image: url('icon1.png');
}

#soc2 {
	background-image: url('icon2.png');
}

#soc3 {
	background-image: url('icon3.png');
}

#txtclick {
	background-color: #E8F7FF;
	border-radius: 5px;
	padding: 3px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 5px #6C8FD8, 0px 0px 8px #1FB8FF;
	font-family: custom, sans-serif;
}

#cont {
	width:100%;
	margin-top: 12vh;
}